@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body{
    font-family: 'Source Sans Pro', sans-serif;
}
.main-banner, .subscribe{
    background-color: rgb(249 229 228);
}
.buy-button{
    background-color: rgb(240, 52, 114);
}